// You can override all variables in this file to theme the app. Make sure to override them before the import!
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './colors.scss';

/**
 * Generic styles: not attached to certain components/component groups
 */

body {
  min-height: 100vh;
  width: 100vw;
}

.gradient {
  min-height: 100vh;
  background-image: linear-gradient(0.4turn, $color-accent-1 10%, $color-accent-2 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
